################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/2048/FileContentIndex/91f2605a-dd0b-4ca3-912e-8991bcb620e7.vsidx
/.vs/2048/FileContentIndex/21aa5f4f-810b-4011-ac27-65ecfce2bede.vsidx
/.vs/2048/FileContentIndex/fae1db5c-2962-4b04-ad1c-0abbfbf60379.vsidx
